<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PatientCompassConnectionString" connectionString="Data Source=localhost;Initial Catalog=RelayAccountOnline;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="CollectFolderSizesIntoDB.Properties.Settings.PatientCompassConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=RelayAccountOnline;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
